# Python
__pycache__/
*.py[cod]
*$py.class

# Environment & Credentials
.env
*.json
!data/*.json
!vercel.json
service_account*.json
credentials*.json


# Runtime data
data/calendar.ics

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
